@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: url(teste1.gif); /*essa aqui faz a troca de fundo la ele*/
    background-color:cover ;
    background-position: center;
}
/*essa aqui faz um espaçamento legal de tudp*/
.wrapper{
    width:420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0,0, .2);
    color: #ffff;
    border-radius: 10px;
    padding: 30px 40px;
}
/*essa e da palavra login*/
.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 90px;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}
/*essa mer*** e pra fazer o tamanho dos quadrado que estão o usuario e a senha*/
.input-box input{
    width: 411%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffff;
    padding:20px 45px 20px 20px;

}

.input-box input::placeholder{
    color: #ffff;
}

.input-box i{
    position: absolute;
    right: -270px;
    top: 40%;
    transform: translateY(-30%);
    font-size: 20px;
}

.wrapper .caixa{
    display: flex;
    justify-content: flex;
    font-size: 15px; 
    margin: 5px 0 5px 0; 
    padding: 10px 0; 
}

.caixa label input{
    accent-color: #FFFF;
    margin-right: 3px;
}

.caixa a{
    color: #FFFF;
    text-decoration: none;
    margin-left: auto;

}
.caixa a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100px;
    height: 45px;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.wrapper .registre-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.registre-link p a{
    color: #ffff;
    text-decoration:none;
    font-weight: 600;

}

.registre-link p a:hover{
    text-decoration: underline;
}

.selecao {
    margin: 20px 0;
  }
  
  .selecao label {
    display: block; 
    font-size: 15px;
    margin-bottom: 1px;
  }
  
  .selecao input[type="selecao"] {
    margin-right: 0px;
  }
  .selecao h1{
    font-size: 15px;
  }
  
  .selecao .aluno{
    accent-color: #fff;
  }
  
  .selecao .treinador-selecaos {
    accent-color: #2196F3;
  }
  
